$sign-color: #404040;

// 64 145 247

body, html {
  padding: 0;
  margin: 0;
}
div,p,ul,li, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}

.notice {
  padding: 44px 0;
  .notice-content {
    padding: 48px 24px;
    .notice-content-img {
      padding: 0 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 140px;
      img {
        width: 140px;
        height: 140px;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        padding: 4px;
        box-sizing: border-box;
      }
    }
    .notice-content-text {
      width: 100%;
      height: 40px;
      min-width: 30px;
      margin-top: 39px;
      font-size: 16px;
      .name {
        color: #1890ff;
      }
    }
  }
  .notice-button {
    margin: 24px 24px;
    button {
      height: 42px;
      font-size: 16px;
    }
  }
}

.error {
  .title {
    color: #222222;
    font-size: 100px;
    padding: 120px 0 40px;
    text-align: center;
  }
  .subtitle {
    color: #222222;
    font-size: 20px;
    text-align: center;
  }
}



.set-initial-password {
  padding: 32px 24px;
  .title {
    font-size: 26px;
  }
  .content {
    color: #3d3d3d;
    font-size: 16px;
    padding: 32px 0;
  }
  .input-password {
    margin-bottom: 32px;
  }
  .input-button {
    padding-top: 12px;
    position: relative;
    .button {
      height: 42px;
      font-size: 16px;
    }
    .error {
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      color: red;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      text-align: left;
    }
  }
}

.sign-bind-account {
  padding: 32px 24px;
  .title {
    font-size: 26px;
  }
  .content {
    color: #3d3d3d;
    font-size: 16px;
    padding: 32px 0;
  }
  .input-code {
    margin-bottom: 32px;
  }
  .input-account {
    margin-bottom: 32px;
  }
  .input-button {
    padding-top: 12px;
    position: relative;
    .button {
      height: 42px;
      font-size: 16px;
    }
    .error {
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      color: red;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      text-align: left;
    }
  }
}


@import "component";
@import "index";
@import "sign";
